body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#best {
  color: blueviolet;
}

.flashy {
  color: red;
  font-style: italic;
}

h1, h2 {
  text-align: center;
  margin: 0px;
}

.storefront {
  width: 100%;
}

h2 {
  font-size:16px;
}

h3 {
  background-color: white;
  text-align: center;
}

html {
  background-color: rgb(190, 188, 185);
}

.red {
  background-color: red;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.white {
  background-color: white;
}

